
#doc .link-button { 
    margin-top: 5rem;
    min-width: 15rem;
}
#doc .link-button-top { 
    font-size: 1rem; 
}
#doc .link-button-sub { 
    font-size: 0.75rem;
    color: var(--text-muted);
}
#doc button:hover .link-button-sub {
    color: var(--bg-front);
}
#doc .prev-button { 
    float: left;
    text-align: left;
}
#doc .next-button { 
    float: right; 
    text-align: right;
}

#doc h1, #doc h2, #doc h3, #doc h4, #doc h5 {
    color: var(--text);
}

#doc td {
    padding: 0.5rem;
    border-top: 1px solid var(--bg-front);
}

#doc a {
    color: var(--primary);
}

#doc code {
    background: var(--bg-front);
    padding: 0.1rem;
    border-radius: 0.1rem;
    line-height: 1.5rem;
    color: var(--secondary);
}

#doc pre code {
    padding: 0rem;
    line-height: 1rem;
}

#doc pre {
    background: var(--bg-front);
    padding: 0.5rem;
    border-radius: 0.25rem;
}